.text-input{
  @if $global-border-box == false{
    @include box-sizing(border-box);
  }
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 4px 8px;
}

.form-field{
  @extend %margin-bottom;
}

.label{
  cursor: pointer;
  display: block;
  @extend %margin-bottom;
}