.text-input{
  @if $global-border-box == false{
    @include box-sizing(border-box);
  }

  background: none;
  border: 0 none;
  border-bottom: 1px solid $border-default;
  padding: 4px 8px;
}

.form-field{
  @extend %margin-bottom;
}

.label{
  cursor: pointer;
  display: block;
  @extend %margin-bottom;
}