<article class="pokemon pokemon-info">
  <header class="pokemon__header media">
    <div class="media__img pokemon__image">
      <p>#{{ pokemon.national_id }}</p>
      <img src="" ng-src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
    </div>
    <div class="media__body">
      <h1 class="pokemon__name beta">{{ pokemon.name }}</h1>
      <p>{{ pokemon.description }}</p>
      <ul class="pokemon__types">
        <li ng-repeat="type in pokemon.types" class="type--{{ type.name }}">{{ type.name }}</li>
      </ul>
    </div>
  </header>
  <div class="pokemon__content">
    <div>
      <h2>Evolution</h2>
      <p ng-show="prevolution">
        Evolves from <b>{{ prevolution }}</b> by {{ method }} ({{ details }})
      </p>
      <p ng-repeat="evolution in pokemon.evolutions" evolution-method="" evolution="evolution">
        Evolves to <b>{{ evolution.to }}</b> {{ evolution.method }}
      </p>
    </div>
    <h2>Abilities</h2>
    <ul>
      <li ng-repeat="ability in pokemon.abilities">{{ ability.name }}</li>
    </ul>
  </div>
</article>