.dropdown-container {
  position: relative;
}

.dropdown-menu {
  background: white;
  border: 1px solid $border-default;
  border-top: 0 none;
  display: none;
  float: left;
  left: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;

  a {
    color: $text-default;
    display: block;
    padding: 3px 10px;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .active a,
  .active a:hover,
  .active a:focus {
    background-color: $gray-lighter;
    color: $brand-secondary;
    outline: 0;
    text-decoration: none;
  }
}