.pokemon__header {
  margin-bottom: $base-spacing-unit;
}

.pokemon__image {
  max-width: 30%;
  text-align: center;
  width: 192px;

  img {
    display: inline-block;
  }
}

.pokemon__name {
  @extend .delta;
  line-height: 1;
  margin-bottom: 0.5em;
}

.pokemon__number {
  @extend .milli;
  float: right;
  line-height: 1;
  margin-left: 5px;
}

.pokemon__description {
  display: none;
  margin-bottom: 0.5em;

  @include media-query(lap-and-up) {
    display: block;
  }
}

.pokemon__types {

  li {
    color: white;
    display: inline-block;
    font-size: to_rem(12px);
    font-weight: 700;
    line-height: 1;
    max-width: 120px;
    padding: 3px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;

    &:first-child {
      border-bottom-left-radius: 1em;
      border-top-left-radius: 1em;
    }

    &:last-child {
      border-bottom-right-radius: 1em;
      border-top-right-radius: 1em;
    }
  }

  .type--normal { background: #A8A878; }
  .type--fighting { background: #C03028; }
  .type--flying { background: #A890F0; }
  .type--poison { background: #A040A0; }
  .type--ground { background: #E0C068; }
  .type--rock { background: #B8A038; }
  .type--bug { background: #A8B820; }
  .type--ghost { background: #705898; }
  .type--steel { background: #B8B8D0; }
  .type--fire { background: #F08030; }
  .type--water { background: #6890F0; }
  .type--grass { background: #78C850; }
  .type--electric { background: #F8D030; }
  .type--psychic { background: #F85888; }
  .type--ice { background: #98D8D8; }
  .type--dragon { background: #7038F8; }
  .type--dark { background: #705848; }
  .type--fairy { background: #EE99AC; }
}